

.forms{
  background: #F4F4F4;
  padding:10px 20px;
  margin-bottom: 20px;
  border: 1px solid #E4EBF3;
  div {
    margin: 0px 0;
  }
  input{
    font-size: 17px;
    width: 230px;
    margin: 0px 0;
    border: 1px solid #d8d8d8;
    border-left: 1px solid #474747;
    border-top: 1px solid #474747;
    line-height: 27px;
    height: 27px;
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    &:hover{
      border: 1px solid #b8b8b8;
      border-left: 1px solid #373737;
      border-top: 1px solid #373737;
    }
    
  }
  input#user_remember_me{
    width:auto;
    height: auto;
    margin:0 5px 0 0;
  }
}
 
.form_button input {
  width:auto;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #A6A6A6;
  border-left: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  background: transparent url(img/forms/form_button.jpg) no-repeat right top;
  cursor: pointer;
  overflow: visible;
  font-family: Tahoma;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;
  display: block;
  &:hover{
    border-left: 1px solid #E7E7E7;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #C0CAD2;
    border-right: 1px solid #C0CAD2;
  }
  &:active  {  
    border: 1px solid #DDDDDD;
    border-left: 1px solid #A6A6A6;
    border-top: 1px solid #A6A6A6; }
}

.field{
  label{
    width:150px;
    display:block;
    text-align:left;
    float:left;
  }
  input {
    width:300px;
  } 
} 
