%noindex
  %a{:rel => 'nofollow', :href=>"http://www.liveinternet.ru/stat/cleartest.ru/", :target=>"_blank"}
    %img{:src=>"//counter.yadro.ru/logo?22.18",:title=>"LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня", :border=>"0", :width=>"88", :height=>"31"}
  = link_to 'Вход', new_user_session_path
